/* ==========================================================================
   Custom styles
   ========================================================================== */

.body {
	padding-top: 0px;
	padding-bottom: 20px;
}

.jumbotron {
	background-image: url('../img/stock-hay-img-blur.jpg');
	background-size: 100% auto;
	background-position: center;
	color: white;
}
.jumbotron h1 {
	text-shadow: 2px 2px black;
}

.mynav {
	margin-bottom: 0px;
}
.logo {
	font-size:3em;
}

.slogan {
	font-size:20px;
	margin: 0px;
	padding: 0px;
}
/*
 .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-nav > li {
  	float: none;
    display: inline-block;
  }*/
.mynavbar {
	text-align:center;
}
.mynavbar .nav {
	float:none;
}
.mynavbar .nav li {
	display:inline-block;
	float:none;
	margin:0 20px;
	vertical-align:middle;
}
.mynavbar .nav li {
	display:block;
	margin:0
}
.navbar-collapse {
	width: 100%;
}